/site/build.properties
/site/cache/
/site/config/databases.yml
/site/data/sql/schema.sql
/site/data/sql/create.sql
/site/data/sql/deploy/
/site/config/httpd.conf
/site/log/
/site/test/results/
/site/config/app.yml
/site/plugins/.*
/site/web/images/orig/
/site/web/images/thumb/
/site/web/images/slide/
/site/web/images/article/
/site/web/uploads/

/site/dbdeploy_deploy.sql
/site/dbdeploy_undo.sql

/site/config/ProjectConfiguration.class.php